#title {
	position: fixed;
	width: 50%;
	top: 0px;
	opacity: 0.5;
}

.titleimg {
	width: 70%;
}

#banner {
	position: absolute;
	top: 0px;
	left: 0px;
}

body::-webkit-scrollbar {
	background-color: black;
}

body::-webkit-scrollbar-thumb {
	background-color: lime;
	border-radius: 20px;
}

head {
	position: fixed;
	right: 50px;
	margin-left: 700px;
}
/*#title:hover {
	-webkit-transform: RotateX(180deg);
}*/

img {
	width:128;
	height: 64;
	text-align: center;
}

/*@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -100% 0; }
}*/

body {
	background-image: url("StarlitSky2.png");
	background-color: black;
	background-position: 0px 0px;
	background-attachment: fixed;
	/*-webkit-animation: animatedBackground 30s linear infinite;*/
	color: lime;
	margin-left: 50px;
	margin-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	color: lime;
}


button {
	background-color: black;
	border: 2px solid white;
	font-size: 15pt;
	float: left;
	outline: none;
}

canvas {
	border: 2px solid white;
	float: right;
}

#orlando {
	position: fixed;
	top: 5px;
	left: 10px;
}

::selection {
	background-color: lime;
	color: black;
	border: 3px solid white;
}

p {
	font-size: 15pt;
}

li {
	font-size: 15pt;
}

a {
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	background-color: green;
}

a:active {
	color: white;
	text-decoration: none;
}

#slider {
	position: absolute;
	top: 3px;
	left: 3px;
	text-align: center;
	border: 5px solid white;
	border-radius: 10px;
	background: none;
	font-size: 10pt;
	padding: 2px;
}

#tabs {
	width: 80%;
	position: fixed;
	top: 50px;
	opacity: 0.25;
	margin-left: 3%;
}

.tab {
	border: 5px solid white;
	background-color: black;
	text-align: center;
	height: 35px;
	font-size: 26pt;
	font-weight: bold;
	padding: 3px;
	margin: 0px;
	cursor: pointer;
	color: yellow;
	float: left;
}

.tab::selection {
	background: none;
	color: lime;
}

.article {
	width: 50%;
	border: 8px solid white;
/*	border-style: ridge;*/
	background: black;
	position: absolute;
	margin-left: 3%;
	margin-right: 8%;
	padding: 10px;
	padding-right: 10%;
	padding-left: 10%;
	top: 93px;
}

audio {
	position: fixed;
	bottom: 0px;
}

h2 {
	color: white;
}

.top {
	color: yellow;
	cursor: pointer;
}

#box {
	width: 32px;
	height: 32px;
	background-color: lime;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*#x-out {
	position: relative;
	top: 0px;
	left:10px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
*/
input {
	border: none;
	position: absolute;
	padding: 10px;
	background-color: lime;
	font-size: 20pt;
	width: 300px;
	height: 50px;
}

input:focus {
	outline: 0;
	box-shadow: 10px 10px 10px gray;
}

-webkit-input-placeholder {
	color: white;
}

#password {
	top: 400px;
	right: 100px;
}

#mail {
	font-size: 30pt;
}

caption {
	color: white;
}

#downloadbutton {
	border-radius: 100;
}

#trailer {
	width: 100%;
}

.video {
	width: 100%;
}

#hometab {
	height: 100px;
}