#shopshelf {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
	gap: 1rem;
	max-width: 1000px;
	margin: auto;
}
.shopitem img {
	display: block;
	max-width: 100%;
}
.shopitem p {
	line-height: 1;
}
.shopitemname {
	font-family: var(--headerfont);
	font-style: italic;
	font-size: 1.3rem;
}

#backtoshop {
	max-width: 900px;
	margin: 1rem auto;
}
.itemlisting {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	max-width: 900px;
	margin: auto;
}
.itemlisting > * {
	flex: 1;
	min-width: 300px;
}
.itemimage {
}
.itemimage img {
	display: block;
	max-width: 100%;
}
.itemname {
	font-family: var(--headerfont);
	font-style: italic;
}
#price-and-button {
	display: flex;
	place-items: center;
	gap: 1rem;
	width: 95%;
	margin-top: .5rem;
}
.itemprice {
	margin-top: .5rem;
	font-size: 1.5rem;
	/* font-style: italic; */
	line-height: 1.5;
	background: linear-gradient(to bottom, var(--bgcolor) 40%, 40%, var(--altbgcolor) 80%, 80%, var(--bgcolor));
	width: fit-content;
}
.itemdescription {
	font-family: var(--bodyfont);
	font-variation-settings: 'opsz' 10, 'wght' 400;
}
.itemdescription em {
	font-style: normal;
}
.itemgallery {
	margin-top: .5rem;
	width: 100%;
	display: flex;
	gap: .25rem;
}
.gallerybutton {
	cursor: zoom-in;
	max-width: 150px;
	margin: 0;padding: 0;
	border:0;
}
.gallerybutton img {
	width: 100%;
}

#shopform {
	margin-top: 1rem;
}
#shopform > div {
	margin-top: .5rem;
}

.checkout-button {
	margin-top: 0.5rem;
	padding:8px 12px;
	border: 1px solid var(--acolor);
	background-color: var(--bgcolor);
	color: var(--fgcolor);
	font-size:1rem;
	cursor:pointer;
	box-shadow: 2px 2px var(--acolor);
	transition: .1s;
	display: block;
	flex-grow: 1;
	justify-self: stretch;
}
.checkout-button:hover {
	transform: translate(0, -2px);
}