* {
	font-weight: normal;
	margin: 0;padding: 0;
	box-sizing: border-box;
}

body {
	--workred: #fddfdf;
	--workyellow: #fcf7de;
	--workgreen: #defde0;
	--workblue: #def3fd;
	--workpurple: #f0defd;

	background-image: none;
	background-attachment: fixed;
	background-size: cover;
}



#content {
	font-family: "Literata", serif;
	max-width: 1200px;
	margin-top: 0;
	margin: auto;
}

video {
	width: 100%;
	margin-bottom: 1rem;
	font-size: 0;
	display: block;
}

#content.portfolioindexcontent {
	position: relative;
	padding: .5rem;
}



.workitem {
	position: relative;
	padding: .5rem;
	line-height: 1.5;
	width: 100%;
}
.workitem:not(:first-of-type) {
	margin-top: 2rem;
}
.workitem a:first-child {
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
}
.workitem .cardsplit {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}
	.workitem:nth-of-type(even) .cardsplit {
		flex-direction: row-reverse;
	}
.workitem .cardsplit > * {
	width: 50%;
}
@media (max-width: 575px) {
	.workitem .cardsplit {
		display: block;
	}
	.workitem .cardsplit > * {
		width: 100%;
		margin-top: .5rem;
	}
}

.workitem img, .workitem svg {
	display: block;
	border: 1px solid var(--fgcolor);
	border-radius: var(--mainradius);
}
.workitem h1 {
	font-family: var(--headerfont);
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1;
	margin: 0;
}
.workitem p {
	line-height: 1.3;
}




/* PORTFOLIO STYLES */

div.workitemcontent {
	margin: auto;
	max-width: 750px;
}

img, video {
	width: 100%;
}

.portfolio {
	--smallwidth: 500px;
	padding: 0 .5rem;
}
.portfolio p {
	max-width: var(--smallwidth);
	margin-top: 1.5rem;
}
.portfolio p.caption {
	max-width: 100%;
	margin-top: .5rem;
}
.portfolio h1, .portfolio h2, .portfolio blockquote {
	max-width: var(--smallwidth);
	margin: .5rem 0;
}
.portfolio h1, .portfolio h2 {
	font-family: var(--headerfont);
	margin: 1rem 0;
	line-height: 1;
}
.portfolio h1 {
	font-size: 2rem;
}
.portfolio h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}
.portfolio blockquote {
	line-height: 1.5;
	padding-left: .5rem;
	border-left: 1px solid var(--fgcolor);
}


.portfolio img, .portfolio svg, .portfolio iframe, .portfolio video {
	display: block;
	margin-top: 2rem;
	max-width: 100%;
}

.portfolio iframe {
	/* width: 100%; */
	aspect-ratio: 1 / 1;
	font-size: 0;
}
.portfolio .browsermockup {
	width: 100%;
	max-width: 100%;
	margin: 1.5rem 0;
	border: 2px solid var(--acolor);
	position: relative;
}
.portfolio .browsermockup::before  {
	content: "\25CB  \25CB  \25CB";
	display: block;
	margin: -2px -2px 0 -2px;
	width:auto;
	height: 24px;
	padding-left: 10px;
	border: 2px solid var(--acolor);
	color: var(--acolor);
	font-weight: bold;
	cursor: default;
	user-select: none;
}
.portfolio .browsermockup img {
	margin: -1.15rem 0;
}

.portfolio hr {
	border: none;
	background: var(--fgcolor);
	height: 1px;
	margin: 6rem 0;
	width: 100%;
}