* {
	font-weight: normal;
	margin: 0;padding: 0;
	box-sizing: border-box;
}

body {
	--workred: #fddfdf;
	--workyellow: #fcf7de;
	--workgreen: #defde0;
	--workblue: #def3fd;
	--workpurple: #f0defd;

	--headerfont: "Gooper";

	background-image: none;
	background-attachment: fixed;
	background-size: cover;
}



#content {
	font-family: "Literata", serif;
	max-width: 1000px;
	margin-top: 0;
	margin: auto;
}

video {
	width: 100%;
	margin-bottom: 1rem;
	font-size: 0;
	display: block;
}

#content.portfolioindexcontent {
	position: relative;
	padding: .5rem;
}



.workitem {
	position: relative;
	padding: .5rem;
	line-height: 1.5;
	width: 100%;
}
.workitem:not(:first-of-type) {
	margin-top: 2rem;
}
.workitem a:first-child {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
}
.workitem .cardsplit {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	justify-content: left;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 575px) {
	.workitem .cardsplit {
		display: block;
	}
	.workitem .cardsplit > * {
		width: 100%;
		margin-top: .5rem;
	}
}

.workitem img, .workitem svg {
	display: block;
	/* border: 1px solid var(--fgcolor); */
	border-radius: var(--mainradius);
	transition: .05s;
}
.workitem .subcard {
}

	.workitem:hover img, .workitem:hover svg {
		transform: translate(-.5rem, -.5rem);
		box-shadow: .5rem .5rem var(--fgcolor) 
		
	}
	.workitem:hover .subcard {
		animation: push .5s steps(1) infinite;
		/* transform: translate(.5rem, 0); */
	}
	@keyframes push {
		from {
			transform: rotate(-1deg);
		}
		50%{
			transform: rotate(1deg);
		}
	}

.workitem h1 {
	font-family: var(--headerfont);
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1;
	margin: 0;
}
.workitem p {
	margin-top: 1rem;
	line-height: 1.3;
}




/* PORTFOLIO STYLES */

div.workitemcontent {
	margin: auto;
	max-width: 600px;
}

img, video {
	width: 100%;
}

.portfolio {
	--smallwidth: 500px;
	padding: 0 .5rem;
}



.portfolio p {
	max-width: var(--smallwidth);
	margin: auto;
	margin-top: 1rem;
}
.portfolio p.caption {
	margin-top: .5rem;
}
.portfolio h1, .portfolio h2, .portfolio blockquote {
	max-width: var(--smallwidth);
}
.portfolio h1, .portfolio h2 {
	font-family: var(--headerfont);
	margin: 1rem auto;
	margin-bottom: 0;
}
.portfolio h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
}
.portfolio h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
	line-height: 1.2;
}
	.portfolio h1 + h2 {
		margin-top: 0.5rem;
	}
.portfolio blockquote {
	line-height: 1.5;
	padding-left: .5rem;
	border-left: 1px solid var(--fgcolor);
}


.portfolio img, .portfolio svg, .portfolio iframe, .portfolio video {
	display: block;
	margin: auto;
	margin-top: 1.5rem;
	max-width: 100%;
}

.portfolio audio {
	display: block;
	margin: auto;
	text-align: center;
}

.portfolio iframe {
	/* width: 100%; */
	aspect-ratio: 1 / 1;
	font-size: 0;
}
.portfolio .browsermockup {
	width: 100%;
	max-width: 100%;
	margin: 1.5rem 0;
	border: 2px solid var(--acolor);
	position: relative;
}
.portfolio .browsermockup::before  {
	content: "\25CB  \25CB  \25CB";
	display: block;
	margin: -2px -2px 0 -2px;
	width:auto;
	height: 24px;
	padding-left: 10px;
	border: 2px solid var(--acolor);
	color: var(--acolor);
	font-weight: bold;
	cursor: default;
	user-select: none;
}
.portfolio .browsermockup img {
	margin: -1.15rem 0;
}

.portfolio .visitsitelink {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin: 2rem 0;
	padding: 0.5rem 1rem;
	border: 1px solid var(--fgcolor);
	border-radius: var(--mainradius);
	outline: none;
	font-family: var(--monofont);
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
	color: var(--fgcolor);
	background: var(--bgcolor);
	box-shadow: 2px 2px var(--fgcolor);
	transition: 0;
}
.portfolio .visitsitelink:active {
	top: 2px;
	left: 2px;
	box-shadow: 0 0 var(--fgcolor);
}

.portfolio hr {
	border: none;
	background: var(--fgcolor);
	height: 1px;
	margin: 6rem 0;
	width: 100%;
}

.portfolio table {
	max-width: var(--smallwidth);
	margin: 1rem auto;
	background: #f0f0f0;
	border: 2px solid var(--translucent);
}
.portfolio table td {
	line-height: 1.2;
	padding: .25rem;
	border-bottom: 2px solid var(--translucent);
}
.portfolio table td:first-of-type {
	font-style: italic;
}